<% provide(:title, 'Edit Stock from Watchlist') %>
<section id="forms">
  <div class="page-header">
    <h1>Edit Stock - <%= @stock_watchlist.symbol %></h1>
  </div>

  <div class="row">
    <div class="span10 offset1">
      <div class="form-horizontal well">      
        <%= form_for(@stock_watchlist) do |f| %>
        <fieldset>
          <%= render 'shared/error_messages', object: f.object %>
          <%= render 'fields', f:f %>
          <%= f.fields_for :watch_parameter do |ff| %>
            <%= render 'watch_parameters', f:ff %>
          <% end %>
          <%= render 'tags_section', f:f %>
          <div class="form-actions">
            <%= f.submit "Save Changes" , class: "btn btn btn-primary" %>
            <%= f.submit "Cancel" , class: "btn" %>
          </div>
        </fieldset>
      <% end %>
      </div>
    </div>
  </div>
</section>
