<% provide(:title, 'Stocks in Watchlist') %>
<div class="page-header">
  <h1>Stocks in Watchlist</h1>
</div>

<section id="forms">
  <div class="row">
    <div class="span12">
      <div class="form-horizontal well">      
      <legend>Choose Filter Criteria</legend>
      <%= form_tag("/stock_watchlists", :method => "get", remote: true) do %>
        <fieldset>
          <%= render "filter_criteria" %>
          <!--
          <div class="form-actions">
            <%= submit_tag("Filter", class: "btn btn-smally") %>
            <%= submit_tag("Reset", class: "btn btn-small") %>
          </div>
          -->
        </fieldset>
      <% end %>

      <section id="tables">
        <legend>List of Stocks</legend>
        <div id="stock_watchlist_table">
          <%= render "stock_watchlist_table"%>
        </div>
        <%= will_paginate @stock_watchlists%>
      </section>
      </div>
    </div>
  </div>
</section>
